@{
    ViewData["Title"] = "Home Page";
}

   
@{ 
        <div class="text-center mt-4">
            <h1>Welcome to Dealer Manager</h1>
            <form method="get">
                <button class="btn btn-primary m-2" type="submit" formaction="/Identity/Account/Login">Log In</button>
                <p>Dont have an account? <a href="/Identity/Account/Register">Sign up</a></p>
            </form>
        </div>
   }

