<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DealerManagment</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
        <!--Icons-->
        <link href="~/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
        <!--Jquery Datatables-->
        <link rel="stylesheet" href="~/js/plugins/jquery-datatables/dataTables.bootstrap4.css" />
        <!-- Theme style -->
        <link type="text/css" href="~/css/argon-dashboard.min.css" rel="stylesheet">
        <!--Custom CSS-->
        <link type="text/css" href="~/css/custom.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <environment include="Staging, Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
        <!--Icons-->
        <link href="~/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
        <!--Jquery Datatables-->
        <link rel="stylesheet" href="~/js/plugins/jquery-datatables/dataTables.bootstrap4.css" />
        <!-- Theme style -->
        <link type="text/css" href="~/css/argon-dashboard.min.css" rel="stylesheet">
        <!--Custom CSS-->
        <link type="text/css" href="~/css/custom.css" rel="stylesheet">
    </environment>
</head>

<body class="">
    @Html.Partial("_MainMenu")
    <div class="main-content">

        <partial name="_CookieConsentPartial" />

        <div class="container-fluid">
            @RenderBody()
        </div>

    </div>

    <!--SCRIPTS-->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/plugins/jquery-datatables/datatables.js"></script>
        <script src="~/js/plugins/jquery-datatables/dataTables.bootstrap4.min.js"></script>

        <script src="~/js/argon-dashboard.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging, Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/plugins/jquery-datatables/datatables.js"></script>
        <script src="~/js/plugins/jquery-datatables/dataTables.bootstrap4.min.js"></script>

        <script src="~/js/argon-dashboard.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
